// Основные цвета
$mainColor: #ffffff;
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1200px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: calc($maxWidth - $containerPadding);
// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer+$containerPadding;